body {
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
}

.image-container {
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    border: 1px solid blue; /* 四角形の枠線を追加 */
}

.repo-link {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center; /* テキストを垂直方向中央揃え */
}

.button-text {
    font-size: 20px; /* テキストのサイズを調整 */
    padding: 10px 20px; /* パディングを追加してボタンらしく見せる */
    border: 1px solid blue; /* ボタンの枠線を追加 */
    border-radius: 5px; /* ボタンの角を丸くする */
    background-color: white; /* ボタンの背景色を白にする */
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

.button-text:hover {
    background-color: lightblue; /* ホバー時の背景色を変更 */
}
