.image-wrapper2 {
    width: 200px; /* 必要に応じてサイズ調整 */
    height: 200px; /* 必要に応じてサイズ調整 */
    position: relative;
}

.image-wrapper2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
